h1{
    color: red;   
}
body{
    background-color: rgba(107, 212, 238,0.4); /*0.4 specify the opacity*/
    
}
h2{
    color: #e303fc;;
}
/*id style*/
#new{
color:yellow;
}
div{
    border-style:dotted;
    border-color: salmon;
}
#second{
    border-style: groove;
    border-color: slategray;
}
.third{
    background-color:burlywood ;
    border-style:outset;
    border-color:cornflowerblue;
}